name: Deploy Pipeline

on:
  workflow_dispatch:
    inputs:
      environment:
        description: '选择要部署的环境'
        required: true
        default: 'uat'
        type: choice
        options:
          - uat
          - prod
          - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 显示选择的环境
        run: echo "你选择的环境是：${{ github.event.inputs.environment }}"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 获取最新 Tag
        id: get_tag
        run: |
          latest_tag=$(git describe --tags --abbrev=0)
          echo "最新的 tag 是: $latest_tag"
          LATEST_TAG=$(git tag -l 'v[0-9]*.[0-9]*.[0-9]*' --sort=-v:refname | head -n 1)
          
          if [[ -z "$LATEST_TAG" ]]; then
            LATEST_TAG="v0.0.0"
            echo "未找到最新 Tag，使用默认版本 $LATEST_TAG"
          else
            echo "最新 Tag 为 $LATEST_TAG"
          fi
          
          VERSION=${LATEST_TAG#v}
          BUILD_NUMBER="$VERSION.${{ github.run_id }}"
          IS_RELEASE="true"

          echo "Version: ${VERSION}"
          echo "Build Number: ${BUILD_NUMBER}"
          echo "Is Release: ${IS_RELEASE}"
          echo "Branch: ${{ github.ref_name }}"
          echo "Commit SHA: ${{ github.sha }}"

      - name: 部署到对应环境
        run: |
          if [ "${{ github.event.inputs.environment }}" = "uat" ]; then
            echo "部署到 UAT 环境..."
            # 执行 UAT 环境的部署逻辑
          elif [ "${{ github.event.inputs.environment }}" = "prod" ]; then
            echo "部署到 PROD 环境..."
            # 执行 PROD 环境的部署逻辑
          else
            echo "部署到 STAGING 环境..."
          fi
